$btn-color: #4992c1;
$white: #fff;
$sub-title-color: #496d7c;
$logo-blue: #4992c1;
$yellow: #ffc44a;
$black: #11172c;
$text-color: #496d7c;
$header-bg: #111e40;
$hover-color: #1d9eda;
$banner-subtitle: #3da1ff;
