@media (min-width: 1366px) and (max-width: 1440px) {
}
// min width 1366px and max width 1440px ends here

@media (min-width: 1300px) and (max-width: 1365px) {
}
// min width 1300px and max width 1365px ends here

@media (min-width: 1300px) {
}

// min widht 1300px ends here

@media (max-width: 1299px) {
}

// max widht 1299px ends here

@media (min-width: 1025px) and (max-width: 1299px) {
}

// min width 1025px and max width 1299px ends here

@media (min-width: 992px) and (max-width: 1024px) {
}

// min width 992px and max width 1024px ends here

@media (max-width: 1199px) {
  .home-banner-main {
    .banner-inner-flex {
      flex-wrap: wrap;
      padding-top: 80px;
      padding-bottom: 80px;
      .left-parent-box {
        width: 100%;
        margin-top: 50px;
        h1 {
          font-size: 36px;
          line-height: 48px;
          letter-spacing: -2px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
        }
        a {
          font-size: 14px;
          line-height: 21px;
          padding: 16px 24px;
          // display: block;
          text-align: center;
        }
      }
      .right-parent-box {
        width: 100%;
        .fourcard-flex {
          gap: 20px;
          .two-card-box {
            width: 100%;
            .home-banner-card {
              .title {
                font-size: 24px;
                line-height: 36px;
              }
              .sub-title {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
  .drive-growth-main {
    padding: 60px 0;
    .title-box {
      gap: 20px;
      margin-bottom: 60px;
      h2 {
        width: 100%;
        font-size: 30px;
        line-height: 42px;
      }
      a {
        font-size: 14px;
        line-height: 21px;
      }
    }
    .growth-grid-parent {
      grid-template-columns: 1fr;
      row-gap: 32px;
      .single-grid {
        padding-right: 0;
        border-right: unset;
        border-bottom: 1px solid #e6eff5;
        padding-bottom: 32px;
        .icon-box {
          margin-bottom: 15px;
          img {
            width: 40px;
          }
        }
        h4 {
          font-size: 24px;
          line-height: 36px;
          margin-top: 0;
          margin-bottom: 16px;
        }
        p {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
    .px-0 {
      padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
      padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
    }
  }
  .ai-driven-main {
    padding: 60px 0;
    .title-box {
      margin-bottom: 60px;
      text-align: left;
      h2 {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
      }
      a {
        font-size: 14px;
        line-height: 21px;
        padding: 16px 24px;
        display: block;
        text-align: center;
      }
    }
    .single-development {
      padding-right: 0;
      .percent-count {
        font-size: 14px;
        line-height: 21px;
        span {
          font-size: 42px;
          line-height: 50px;
        }
      }
      h4 {
        font-size: 24px;
        line-height: 32px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .faster-flex {
      gap: 40px;
      .left-box {
        flex: 0 0 100%;
        h4 {
          font-size: 24px;
          line-height: 32px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
        }
      }
      .right-box {
        .single-box {
          padding: 0px 0px 30px 0px;
          flex: 100%;
          h5 {
            font-size: 16px;
            line-height: 24px;
            br {
              display: none;
            }
          }
          &:nth-child(2) {
            padding: 30px 0px 30px 0px;
            border-width: 2px 0px 2px 0px;
          }
          &:last-child {
            padding: 0;
            padding-top: 30px;
          }
        }
      }
    }
  }
}
// max widht 991px ends here

@media (min-width: 768px) and (max-width: 991px) {
}

// min width 768px and max width 991px ends here

@media (min-width: 768px) {
}
// min widht 768px ends here

@media (max-width: 767px) {
  .home-banner-main {
    .banner-inner-flex {
      .left-parent-box {
        a {
          display: block;
        }
      }
      .right-parent-box {
        width: 100%;
        .fourcard-flex {
          flex-wrap: wrap;
          gap: 20px;
          .two-card-box {
            width: 100%;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// max widht 767px ends here

@media (min-width: 576px) and (max-width: 767px) {
}
// min width 576px and max width 767px ends here

@media (min-width: 415px) and (max-width: 575px) {
}
// min width 415px and max width 575px ends here

@media (min-width: 376px) and (max-width: 414px) {
}

// min width 376px and max width 414px ends here
@media (max-width: 375px) {
}
// max width 375px ends here
