ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2550px;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
}

header {
  background: #111e40;
}
header .main-header {
  position: relative;
}
header .main-header .header-flex {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .main-header .header-flex .logo-box {
  width: 213px;
}
header .main-header .header-flex .logo-box img {
  max-width: 100%;
}
header .main-header .header-flex .main-header-items {
  width: 60%;
}
header .main-header .header-flex .main-header-items ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
header .main-header .header-flex .main-header-items ul li {
  position: static;
  padding-top: 28px;
  padding-bottom: 28px;
}
header .main-header .header-flex .main-header-items ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  padding: 0px 15px 0px 15px;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  transition: all 0.4s ease;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .main-header .header-flex .main-header-items ul li a i {
  margin: 2px 0px 0px 8px;
  font-size: 14px;
}
header .main-header .header-flex .main-header-items ul li a:hover {
  color: #1d9eda;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel {
  pointer-events: none;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  z-index: 999;
  transition: all 0.4s ease;
  transform: translateY(-10px);
  background: red;
  display: flex;
  flex-wrap: wrap;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg {
  background-color: #f6f7f8;
  height: 100%;
  padding: 40px 60px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #222222;
  font-family: "Manrope", sans-serif;
  margin: 0px 0px 8px 0px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666666;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg .megapanel-card {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #cccccc;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg .megapanel-card .card-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg .megapanel-card .card-flex .image-box {
  width: calc(35% - 8px);
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg .megapanel-card .card-flex .image-box img {
  border-radius: 10px 10px 10px 10px;
  width: 148px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg .megapanel-card .card-flex .description-box {
  width: calc(65% - 8px);
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg .megapanel-card .card-flex .description-box h3 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #120b25;
  margin-bottom: 8px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .left-box-parent .left-box-bg .megapanel-card .card-flex .description-box a {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.36px;
  fill: #4992c1;
  color: #4992c1;
  padding: 0px 0px 0px 0px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .w-25percent {
  width: 25%;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .w-35percent {
  width: 35%;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .w-75percent {
  width: 75%;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .w-65percent {
  width: 65%;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .w-40percent {
  width: 40%;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg {
  background-color: #ffffff;
  height: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .mega-right-upper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 80px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .mega-right-upper .right-xl-box {
  width: calc(60% - 40px);
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .mega-right-upper .right-xl-box .ul-columns {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .mega-right-upper .right-xl-box .ul-columns ul {
  width: calc(50% - 20px);
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .mega-right-upper .right-sm-box {
  width: calc(40% - 40px);
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .mega-right-upper .menu-item-title {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #222222;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .mega-right-upper .menu-item-title i {
  color: #4992c1;
  margin-right: 5px;
  font-size: 8px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .all-service-btn {
  margin: 40px 0px 0px 0px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel .right-box-parent .right-box-bg .all-service-btn a {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.36px;
  color: #222222;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  text-transform: capitalize;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel ul {
  display: block;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel ul li {
  margin-bottom: 6px;
  padding-top: 0;
  padding-bottom: 6px;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel ul li a {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #222222;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  text-transform: capitalize;
}
header .main-header .header-flex .main-header-items ul li .megamenu-panel ul li:last-child {
  margin-bottom: 0;
}
header .main-header .header-flex .main-header-items ul li:hover .megamenu-panel {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
header .main-header .header-flex .schedule-call {
  width: 20%;
  text-align: right;
}
header .main-header .header-flex .schedule-call a {
  background-color: #4992c1;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  fill: #ffffff;
  color: #ffffff;
  border-radius: 40px 40px 40px 40px;
  padding: 12px 20px 12px 20px;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */