@import 'partials/colors';
@import 'partials/variable';
@import 'partials/mixins';
@import 'partials/common';

body {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2550px;
  scroll-behavior: smooth;
  font-family: $manrope-font;
}

header {
  background: $header-bg;
  .main-header {
    position: relative;
    .header-flex {
      justify-content: space-between;
      @include flex-wrap-ycentered;

      .logo-box {
        width: 213px;
        img {
          max-width: 100%;
        }
      }
      .main-header-items {
        width: 60%;
        ul {
          @include flex-wrap-ycentered;
          justify-content: center;
          li {
            position: static;
            padding-top: 28px;
            padding-bottom: 28px;
            a {
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              color: #ffffff;
              padding: 0px 15px 0px 15px;
              font-family: $manrope-font;
              text-transform: capitalize;
              transition: all 0.4s ease;
              height: 40px;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              i {
                margin: 2px 0px 0px 8px;
                font-size: 14px;
              }
              &:hover {
                color: $hover-color;
              }
            }
            .megamenu-panel {
              pointer-events: none;
              width: 100%;
              opacity: 0;
              visibility: hidden;
              position: absolute;
              left: 0;
              top: 100%;
              display: block;
              z-index: 999;
              transition: all 0.4s ease;
              transform: translateY(-10px);
              background: red;
              display: flex;
              flex-wrap: wrap;
              .left-box-parent {
                .left-box-bg {
                  background-color: #f6f7f8;
                  height: 100%;
                  padding: 40px 60px;
                  h2 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    color: #222222;
                    font-family: $manrope-font;
                    margin: 0px 0px 8px 0px;
                  }
                  p {
                    font-family: $manrope-font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    color: #666666;
                  }
                  .megapanel-card {
                    margin-top: 40px;
                    padding-top: 20px;
                    border-top: 1px solid #cccccc;
                    .card-flex {
                      display: flex;
                      flex-wrap: wrap;
                      gap: 16px;
                      .image-box {
                        width: calc(35% - 8px);
                        img {
                          border-radius: 10px 10px 10px 10px;
                          width: 148px;
                        }
                      }
                      .description-box {
                        width: calc(65% - 8px);

                        h3 {
                          font-family: $manrope-font;
                          font-size: 18px;
                          font-weight: 500;
                          line-height: 27px;
                          color: #120b25;
                          margin-bottom: 8px;
                        }
                        a {
                          background-color: #ffffff00;
                          font-family: $manrope-font;
                          font-size: 16px;
                          font-weight: 500;
                          line-height: 24px;
                          letter-spacing: -0.36px;
                          fill: $logo-blue;
                          color: $logo-blue;
                          padding: 0px 0px 0px 0px;
                        }
                      }
                    }
                  }
                }
              }
              .w-25percent {
                width: 25%;
              }
              .w-35percent {
                width: 35%;
              }
              .w-75percent {
                width: 75%;
              }
              .w-65percent {
                width: 65%;
              }
              .w-40percent {
                width: 40%;
              }

              .right-box-parent {
                .right-box-bg {
                  background-color: #ffffff;
                  height: 100%;
                  padding: 40px 60px;
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  .mega-right-upper {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 80px;
                    .right-xl-box {
                      width: calc(60% - 40px);
                      .ul-columns {
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: 40px;
                        ul {
                          width: calc(50% - 20px);
                        }
                      }
                    }
                    .right-sm-box {
                      width: calc(40% - 40px);
                    }
                    .menu-item-title {
                      font-family: $manrope-font;
                      font-size: 16px;
                      font-weight: 600;
                      line-height: 24px;
                      color: #222222;
                      text-transform: capitalize;
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      margin-bottom: 20px;
                      i {
                        color: $logo-blue;
                        margin-right: 5px;
                        font-size: 8px;
                      }
                    }
                  }

                  .all-service-btn {
                    margin: 40px 0px 0px 0px;
                    a {
                      font-family: $manrope-font;
                      font-size: 18px;
                      font-weight: 700;
                      line-height: 27px;
                      letter-spacing: -0.36px;
                      color: #222222;
                      padding: 0px 0px 0px 0px;
                      cursor: pointer;
                      text-transform: capitalize;
                    }
                  }
                }
              }
              ul {
                display: block;
                li {
                  margin-bottom: 6px;
                  padding-top: 0;
                  padding-bottom: 6px;

                  a {
                    font-family: $manrope-font;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #222222;
                    padding-left: 0;
                    padding-right: 0;
                    height: auto;
                    text-transform: capitalize;
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
            &:hover {
              .megamenu-panel {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                pointer-events: auto;
              }
            }
          }
        }
      }
      .schedule-call {
        width: 20%;
        text-align: right;
        a {
          background-color: $btn-color;
          font-family: $manrope-font;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          fill: #ffffff;
          color: #ffffff;
          border-radius: 40px 40px 40px 40px;
          padding: 12px 20px 12px 20px;
          display: inline-block;
        }
      }
    }
  }
}

// home banner start from here

.home-banner-main {
  background-color: $header-bg;
  color: $white;
  min-height: 580px;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url(../../images/home/brand-pattern-1.svg);
  .banner-inner-flex {
    display: flex;
    flex-wrap: initial;
    justify-content: initial;
    flex-direction: row;
    align-items: center;
    gap: 56px;
    padding-top: 100px;
    padding-bottom: 120px;
    .left-parent-box {
      width: 50%;
      h1 {
        font-family: $manrope-font;
        font-size: 72px;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: -3.6px;
        -webkit-text-stroke-color: #000;
        stroke: #000;
        color: #f8f8f8;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #c0c0c0;
        font-family: $manrope-font;
        margin-bottom: 20px;
      }
    }
    .right-parent-box {
      width: 50%;
      .fourcard-flex {
        display: flex;
        flex-wrap: initial;
        justify-content: initial;
        flex-direction: row;
        align-items: end;
        gap: 24px;
        .two-card-box {
          width: 50%;
          .home-banner-card {
            background-color: #ffffff;
            padding: 24px 16px;
            border-radius: 10px 10px 10px 10px;
            border: 4px solid #e6eff5;
            min-height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .icon-box {
              text-align: center;
              img {
                width: 40px;
              }
            }
            .title {
              font-family: $manrope-font;
              font-size: 24px;
              font-weight: 700;
              line-height: 36px;
              letter-spacing: -0.48px;
              margin-top: 0.5rem;
              margin-bottom: 2px;
              color: #11172c;
              text-align: center;
            }
            .sub-title {
              font-size: 20px;
              font-family: $manrope-font;
              font-weight: 500;
              line-height: 30px;
              color: $sub-title-color;
              text-align: center;
            }
            &:first-child {
              margin-bottom: 24px;
            }
          }
          &:last-child {
            margin-bottom: 80px;
          }
        }
      }
    }
  }
}

// home banner ends here

// home drive growth start here
.drive-growth-main {
  padding: 100px 0;
  .title-box {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    h2 {
      width: 40%;
      font-size: 48px;
      font-weight: 500;
      line-height: 57.6px;
      color: #11172c;
      font-family: $manrope-font;
      margin-bottom: 0;
    }
    a {
      background-color: #ffffff00;
      font-family: $manrope-font;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: -0.36px;
      fill: $logo-blue;
      color: $logo-blue;
      padding: 0px 0px 0px 0px;
      i {
        margin-left: 5px;
      }
    }
  }
  .growth-grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 64px;
    .single-grid {
      padding-right: 32px;
      border-right: 1px solid #e6eff5;
      &:nth-child(3n) {
        border: none;
      }
      .icon-box {
        margin-bottom: 33px;
        img {
          width: 48px;
        }
      }
      h4 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.5px;
        margin-bottom: 20px;
        font-family: $manrope-font;
        color: #11172c;
        margin-top: 0.5rem;
      }
      p {
        font-family: $manrope-font;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: $sub-title-color;
        margin-bottom: 0;
      }
    }
  }
}
// home drive growth ends here

// home ai driven start

.ai-driven-main {
  background-color: #f5f8fb;
  position: relative;
  padding: 100px 0;
  &::before {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 596px auto;
    background-image: url(../../images/home/bg-shape-pattern.svg);
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .title-box {
    text-align: center;
    margin-bottom: 100px;
    h2 {
      font-size: 62px;
      font-weight: 500;
      line-height: 72px;
      letter-spacing: -2.48px;
      color: #11172c;
      font-family: $manrope-font;
      margin-bottom: 24px;
    }
    p {
      font-family: $manrope-font;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: $sub-title-color;
      margin-bottom: 35px;
    }
  }
  .single-development {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    padding-right: 20px;
    .percent-count {
      font-family: $manrope-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $logo-blue;
      margin-bottom: 24px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      span {
        font-size: 60px;
        font-weight: 200;
        line-height: 80px;
        font-family: $manrope-font;
        color: #6ec1e4;
        border-bottom: 3px solid #e6eff5;
      }
    }
    h4 {
      font-size: 32px;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: -0.5px;
      color: #11172c;
      font-family: $manrope-font;
    }
    p {
      font-family: $manrope-font;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      color: $sub-title-color;
      margin-bottom: 0;
    }
    ul {
      padding-left: 22px;
      margin-top: 20px;
      li {
        font-family: $manrope-font;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: $sub-title-color;
        transition: color 0.3s;
        list-style-type: disc;
        list-style-position: outside;
        &:not(:last-child) {
          margin-top: 4px;
        }
      }
    }
    .icon {
      margin-bottom: 50px;
      img {
        max-width: 48px;
      }
    }
    .step-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
      .step {
        background-color: $btn-color;
        padding: 3px 12px 3px 12px;
        border-radius: 56px 56px 56px 56px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #f8f8f8;
        font-family: $manrope-font;
      }
      .text {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: $btn-color;
        font-family: $manrope-font;
      }
    }
  }
  .faster-flex {
    margin-top: 60px;
    padding-top: 40px;
    border-top: 2px solid #e6eff5;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    flex-direction: row;
    position: relative;
    .left-box {
      flex: 0 0 45%;
      padding-left: 24px;
      border-left: 3px solid $logo-blue;
      h4 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.5px;
        color: #11172c;
      }
      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 0;
        color: $sub-title-color;
      }
    }
    .right-box {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .single-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 0px 32px 0px 0px;
        flex: 1;
        .icon {
          text-align: center;
          margin-bottom: 10px;
          img {
            width: 40px;
          }
        }
        h5 {
          text-align: center;
          color: $sub-title-color;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          font-family: $manrope-font;
        }
        &:nth-child(2) {
          padding: 0px 32px 0px 32px;
          border-style: solid;
          border-width: 0px 2px 0px 2px;
          border-color: #e6eff5;
        }
      }
    }
  }
}
.our-process-main {
  .single-development {
    margin-bottom: 70px;
    h4 {
      font-size: 36px;
    }
  }
  .col-lg-4 {
    &:last-child {
      .single-development {
        margin-bottom: 0px;
      }
    }
  }
}
// home ai driven ends

// home global foundation start

.global-foundation-main {
  padding: 100px 0;

  .title-box {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    max-width: 1212px;
    margin: 0px auto;
    margin-bottom: 100px;
    h2 {
      font-size: 62px;
      font-weight: 500;
      line-height: 72px;
      letter-spacing: -2.48px;
      color: #11172c;
      font-family: $manrope-font;
      width: calc(65% - 50px);
    }
    .reel-card-box {
      flex: 1;
      .image-box {
        width: 225px;
        border-radius: 10px 10px 10px 10px;
        margin-left: auto;
        img {
          width: 100%;
          border-radius: 10px 10px 10px 10px;
        }
      }
      .play-btn-flex {
        padding-left: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        margin-top: -65px;
        a.video-popup {
          background-color: $btn-color;
          padding: 16px 16px;
          width: 44px;
          height: 44px;
          line-height: 0px;
          color: #ffffff;
          display: inline-block;
          text-align: center;
          font-size: 14px;
          border-radius: 50%;
          position: relative;
          z-index: 6;
          transition: all 0.4s ease;
        }
        .play-text {
          background-color: #ffffff;
          font-family: $manrope-font;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          fill: $sub-title-color;
          color: $sub-title-color;
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: #eeeeee;
          border-radius: 50px 50px 50px 50px;
          padding: 10px 19px 10px 19px;
        }
      }
    }
  }
  .global-content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 147px;
    margin-bottom: 100px;
    p {
      font-family: $manrope-font;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: $sub-title-color;
    }
    .left-box {
      flex: 33 0 0;
      display: flex;
      flex-direction: column;
      gap: 133px;
      .top-box {
      }
      .bottom-box {
        display: flex;
        flex-direction: row;
        gap: 12px;
        flex-wrap: wrap;
        align-items: end;
        p {
          flex: 45 0 0;
        }
        .number {
          flex: 55 0 0;
          font-size: 62px;
          font-weight: 500;
          line-height: 72px;
          letter-spacing: -2.48px;
          color: $logo-blue;
          font-family: $manrope-font;
          position: relative;
          height: 100%;
          padding-top: 24px;
          &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            width: 84px;
            height: 3px;
            background: $logo-blue;
          }
        }
      }
    }
    .center-box {
      flex: 47 0 0;
    }
    .right-box {
      flex: 19 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      .icon {
        img {
          width: 40px;
        }
      }
      h5 {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #4992c1;
        margin-top: 0.5rem;
        border-bottom: 2px solid #e6eff5;
        padding-bottom: 15px;
      }
      p {
        margin-top: 15px;
      }
      a {
        padding: 20px;
        text-align: center;
        i {
          font-size: 13px;
          margin-left: 16px;
        }
      }
    }
  }
  .trusted-companies-title {
    text-align: center;
    margin-bottom: 40px;
    h5 {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.48px;
      color: #11172c;
      font-family: $manrope-font;
      margin-bottom: 0;
    }
  }
  .trusted-slider-parent {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        to right,
        rgba(255, 525, 255, 0),
        rgba(255, 255, 255, 1)
      );
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      z-index: 2;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      );
    }
    .image-box {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
    .trusted-company-slider {
      .swiper-wrapper {
        transition-timing-function: linear !important;
      }
    }
  }
}

// home global foundation ends

// home tech stack start

.tech-stack-main {
  background-color: #11172c;
  color: $white;
  padding: 100px 0;
  .title-box {
    text-align: center;
    margin-bottom: 80px;
    h3 {
      font-size: 48px;
      font-weight: 500;
      line-height: 57.6px;
      color: #ffffff;
      margin-bottom: 20px;
      span {
        color: $yellow;
      }
    }
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: #c0c0c0;
      margin-bottom: 0;
    }
  }
  .programming-slider-parent {
    .swiper {
      .image-box {
        text-align: center;
      }
      &:nth-child(1) {
        margin-bottom: 32px;
      }
    }
  }
}

// home tech stack ends

// footer section start from here

footer {
  .footer-main {
    background: $black;
    padding: 80px 0;

    .footer-top-box {
      background-color: #213852;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 80px 0;
      position: relative;
      text-align: center;
      background-size: unset !important;
      margin-bottom: 80px;
      &::before {
        background-position: center center;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .contents {
        position: relative;
      }
      h4 {
        color: $white;
        font-size: 48px;
        font-weight: 500;
        line-height: 57.6px;
        color: #ffffff;
        font-family: $manrope-font;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #c0c0c0;
      }
    }
    .footer-items-parent {
      display: flex;
      color: $white;
      flex-direction: row;
      gap: 100px;
      padding-bottom: 40px;
      border-bottom: 1px solid #4992c133;
      .left-box {
        width: 30%;
        .footer-logo {
          margin-bottom: 24px;
          img {
            width: 254px;
            max-width: 100%;
          }
        }
        .footer-logo-description {
          margin-bottom: 24px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: silver;
          font-family: $manrope-font;
          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: silver;
            margin-bottom: 0;
            font-family: $manrope-font;
          }
        }
        .footer-social {
          ul {
            @include flex-wrap-ycentered;
            gap: 32px;
            li {
              a {
                color: $white;
                font-size: 20px;
              }
            }
          }
        }
      }
      .right-box {
        width: 70%;
        display: flex;
        gap: 40px;
        flex-direction: row;
        .single-link-wrapper {
          width: 25%;
          display: flex;
          flex-direction: column;
          gap: 24px;
          .title {
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: -0.36px;
            color: $yellow;
            font-family: $manrope-font;
          }
          ul {
            li {
              &:not(:last-child) {
                margin-bottom: 10px;
              }
              a {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: #e6eff5;
                display: block;
                font-family: $manrope-font;
              }
            }
          }
        }
      }
    }
    .compliance-flex-parent {
      padding: 40px 0;
      border-bottom: 1px solid #4992c133;
      display: flex;
      color: $white;
      flex-direction: row;
      gap: 120px;
      .compliance-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #f8f8f8;
        font-family: $manrope-font;
        margin-bottom: 30px;
      }
      .left-box {
        width: 32%;
        .single-logo-flex {
          display: flex;
          flex-direction: row;
          gap: 40px;
          img {
            width: 65px;
          }
        }
      }
      .right-box {
        width: 68%;
        .single-logo-flex {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    .recognizedby {
      .right-box {
        width: 100%;
      }
    }
    .copyright {
      padding-bottom: 0;
      border: none;
      .compliance-title {
        margin-bottom: 0;
        a {
          color: $white;
          text-decoration: underline;
        }
      }
      .left-box {
        width: 50%;
      }
      .right-box {
        width: 50%;
        text-align: right;
      }
    }
  }
}

// footer section ends here

.common-banner-main {
  background-color: $header-bg;
  padding: 96px 0;
  position: relative;
  .contents-parent {
    text-align: center;
    color: $white;
    position: relative;
    h5 {
      font-family: $manrope-font;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: $banner-subtitle;
      text-transform: capitalize;
      margin-bottom: 12px;
    }
    h1 {
      font-size: 48px;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -2.48px;
      color: #f9fafb;
      font-family: $manrope-font;
      margin-bottom: 0;
    }
  }
  &::before {
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../images/about/brand-pattern.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.digital-solution-main {
  padding: 100px 0;
  background: $white;
  .solution-flex {
    display: flex;
    flex-direction: row;
    gap: 80px;
    .left-box {
      width: 54%;
      display: flex;
      flex-direction: column;
      gap: 64px;
      justify-content: center;
      h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -2.48px;
        color: #09041d;
        font-family: $manrope-font;
        margin-bottom: 20px;
      }
      h5 {
        @include common-p;
      }
      .mission-box-flex {
        display: flex;
        flex-direction: row;
        gap: 64px;
        .box {
          flex: 1;
        }
        h4 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: -0.48px;
          color: #11172c;
          font-family: $manrope-font;
          margin-bottom: 20px;
        }
        p {
          @include common-p;
          font-size: 18px;
          margin-bottom: 0;
        }
      }
    }
    .right-box {
      width: 46%;
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center center;
        border-radius: 10px 10px 10px 10px;
      }
    }
  }
}

.leadership-values {
  .single-development {
    ul {
      li {
        margin-top: 0 !important;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
}

.awards-main {
  padding: 100px 0;
  background: $white;
  .title-box {
    margin-bottom: 80px;
    text-align: center;
    h2 {
      font-size: 48px;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -2.48px;
      color: #09041d;
      font-family: $manrope-font;
    }
  }
  .single-award-box {
    background-color: #f5f8fb;
    margin-bottom: 32px;
    border-radius: 10px 10px 10px 10px;
    padding: 48px;

    .award-flex {
      display: flex;
      flex-direction: row;
      gap: 80px;
      align-items: center;
    }
    .left-box {
      width: 80%;
      width: 80%;
      display: flex;
      flex-direction: row;
      gap: 16px;
      .icon {
        width: 48px;
        img {
          width: 48px;
        }
      }
      .contents {
        flex: 1;
        h3 {
          color: #11172c;
          font-size: 32px;
          font-weight: 500;
          line-height: 44px;
          letter-spacing: -0.5px;
          margin-bottom: 16px;
          font-family: $manrope-font;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          color: $sub-title-color;
          font-family: $manrope-font;
          margin-bottom: 0;
        }
      }
    }
    .right-box {
      width: 20%;
      p {
        text-align: right;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $logo-blue;
        font-family: $manrope-font;
      }
    }
  }
  .col-lg-12 {
    &:last-child {
      .single-award-box {
        margin-bottom: 0;
      }
    }
  }
}

.company-growth-main {
  padding: 100px 0;
  background-color: #f5f8fb;
  .growth-flex-main {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    .left-box {
      width: 55%;
      h2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -2.48px;
        color: #09041d;
        font-family: $manrope-font;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #777e89;
        font-family: $manrope-font;
        margin-bottom: 0;
      }
    }
    .right-box {
      flex: 1;
      img {
        border-radius: 10px 10px 10px 10px;
        width: 100%;
      }
    }
  }
}
